.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #111111;
  opacity: 0.5;
  z-index: 999;
  visibility: visible;
  transition: all .3s ease-in-out;

  &_inherit {
    opacity: 0;
  }

  &_hidden {
    visibility: hidden;
    opacity: 0;
  }
}
