.list {
  padding-top: 29px;
  padding-bottom: 10px;
  max-width: 327px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(133, 143, 164, 0.2);

  &_hidden {
    display: none;
  }

  &__category {
    display: flex;
    gap: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #1A1A25;
    padding: 12px;

    & > img {
      cursor: pointer;
    }

    &:hover {
      background: #F7F7F7;
    }
  }
}
